<!-- header starts here -->
<!DOCTYPE HTML>
<html>
	<head>
		<!-- for setting encoding method to UTF-8 -->
	<meta charset="utf-8">
	<!-- for compatibility with microsoft browsers -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- title -->
	<title>Stamina &mdash; Fitness is a Jouney,Not a Destination.</title>
	<!-- for making our site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- description -->
	<meta name="description" content="Stamina is a Fitness website " />
	<!-- search engine optimiation -->
	<meta name="keywords" content=" website fitness lifestyle aerobics zoomba bodybuilding diet health scardio gaining dance gym training exercises" />
	<meta name="author" content="www.hacodersh.com" />

  	<!-- Facebook integration -->
	<meta property="og:title" content="Your Fitness Journey Starts Here."/>
	<meta property="og:image" content="https://files.wallpaperpass.com/2019/10/fitness%20wallpaper%20198%20-%201920x1080.jpg"/>
	<meta property="og:url" content="www.stamina.org"/>
	<meta property="og:site_name" content="Stamina"/>
	<meta property="og:description" content="Stamina is a Fitness website"/>

	<!--  Twitter  Integration -->
	<meta name="twitter:title" content="Your Fitness Journey Starts Here." />
	<meta name="twitter:image" content="https://files.wallpaperpass.com/2019/10/fitness%20wallpaper%20198%20-%201920x1080.jpg" />
	<meta name="twitter:url" content="www.stamina.org" />
	<meta name="twitter:card" content="Stamina is a Fitness website"
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- gogole fonts here -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Animate.css (for first animation on our website)-->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Theme style(MOST IMPORTANT)  -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>

	</head>

	<!-- header ends here -->






	<!-- body starts here// -->






	<body>

		<div class="fh5co-loader"></div>
		<div id="page">
			<!-- fh5co is top navigation ,which contains our navigation and social media bar-->
		<nav class="fh5co-nav" role="navigation">
			<!-- top is orange bar that  has number -->
			<div class="top">
				<div class="container">
					<div class="row">
						<!-- bar that  conatins nummber -->
						<div class="col-xs-12 text-right">
							<p class="num">Call: +916394581304</p>

							<ul class="fh5co-social">
								<!-- we have used icon on our navigatio ba -->
								<li><a href="Our Facebook page aAddress here"><i class="icon-facebook"></i></a></li>
								<li><a href="Our  here"><i class="icon-youtube"></i></a></li>
								<li><a href="Our address here"><i class="icon-twitter"></i></a></li>
							</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index">Stamina<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="/index">Home</a></li>
							<li class="active"><a href="/gallery">Gallery</a></li>
							<li><a href="/about">Trainer</a></li>
							<li><a href="/pricing">Pricing</a></li>
							<li class="has-dropdown">
								<a href="/blog">Blog</a>
								<ul class="dropdown">
									<li><a href="/weightloss">Weight-Loss</a></li>
									<li><a href="/weighttraining">Weight-Training</a></li>
									<li><a href="/weightgaining">Weight-Gaining</a></li>
								</ul>
							</li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
