<%- include("partials/header")  -%>


	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(https://c4.wallpaperflare.com/wallpaper/919/57/150/arnold-schwarzenegger-bodybuilding-bodybuilder-barbell-wallpaper-preview.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Blog.</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


		<div id="fh5co-blog" class="fh5co-bg-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
						<h2>Recent Blog</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				<div class="row row-bottom-padded-md">
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="https://www.youtube.com/watch?v=e5r76DXGjIA"><img class="img-responsive" src="http://i3.ytimg.com/vi/e5r76DXGjIA/maxresdefault.jpg" alt="image cant be loaded"></a>
							<div class="blog-text">
								<h3><a href="https://www.youtube.com/watch?v=e5r76DXGjIA">We ordered this for our GYM due Covid</a></h3>
								<span class="posted_on">Sep. 15th</span>
								<span class="comment"><a href="https://www.youtube.com/watch?v=e5r76DXGjIA">21<i class="icon-speech-bubble"></i></a></span>
								<p>I live in New Delhi and love making vlogs, short movies editing. I also love fitness (Subscribe to my other channel )
									I graduated from IIT Kharagpur and currently work as a captain with a domestic carrier.</p>
								<a href="https://www.youtube.com/watch?v=e5r76DXGjIA" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="https://www.youtube.com/watch?v=8I93CCePIfI"><img class="img-responsive" src="http://i3.ytimg.com/vi/8I93CCePIfI/maxresdefault.jpg" alt="image cant be loaded"></a>
							<div class="blog-text">
								<h3><a href="https://www.youtube.com/watch?v=8I93CCePIfI">This is why!...ft Gaurav Taneja</a></h3>
								<span class="posted_on">Aug 2nd</span>
								<span class="comment"><a href="https://www.youtube.com/watch?v=8I93CCePIfI">90<i class="icon-speech-bubble"></i></a></span>
								<p>It was such a good experience to meet Gaurav Taneja(MR.India),Also he is a Commericial Pilot,We Talked About Indian Bodybuilding Industry and How new Generation is Getting Ready.</p>
								<a href="https://www.youtube.com/watch?v=8I93CCePIfI" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="https://www.youtube.com/watch?v=scpqBoZgwPk"><img class="img-responsive" src="http://i3.ytimg.com/vi/scpqBoZgwPk/maxresdefault.jpg" alt="image can not be loaded"></a>
							<div class="blog-text">
								<h3><a href="https://www.youtube.com/watch?v=scpqBoZgwPk">Full Bloggin Camera Set Will be Given To Indias Best Blogger.</a></h3>
								<span class="posted_on">Oct 19th</span>
								<span class="comment"><a href="https://www.youtube.com/watch?v=scpqBoZgwPk">70<i class="icon-speech-bubble"></i></a></span>
								<p>this is my vlogging gear,my first gorillapod is close to my heart, will give it to someone who will make india proud./p>
								<a href="https://www.youtube.com/watch?v=scpqBoZgwPk" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	<div id="fh5co-started" class="fh5co-bg" style="background-image: url(images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2>Fitness Classes this Summer <br> <span> Pay Now and <br> Get ₹<span class="percent">500</span> Discount</span></h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="#" class="btn btn-default btn-lg">Become a Member</a></p>
				</div>
			</div>
		</div>
	</div>

<%- include("partials/footer")  -%>
