<%- include("partials/header")  -%>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(https://media1.s-nbcnews.com/j/newscms/2019_12/2792916/10320-personal-trainer-gym-stock-cs-1113a_b658eccf395b324947b4bdd1e2442afa.fit-2000w.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Contact Us.</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="map" class="fh5co-map">
		<!-- here shows our googlemap -->
	</div>
		<!-- END map -->

	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 animate-box">

					<div class="fh5co-contact-info" id="fh5co-contact-info">
						<h3>Contact Information</h3>
						<ul>
							<li class="address">Sharda University <br>Knowledge Park-3rd</li>
							<li class="phone"><a href="tel://1234567920">+916394581304</a></li>
							<li class="email"><a href="mailto:harshjha19101997@gmail.com">info@yoursite.com</a></li>
							<li class="url"><a href="http://www.hacodersh.com">Hacodersh</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 animate-box">
					<div>
						<p><a href="https://mailchi.mp/4330dc13c14b/contact" class=" mailchimp sub-btn btn btn-default btn-lg">Subsribe To Our Newletter</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-bg" style="background-image: url(images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2>Fitness Classes this Summer <br> <span> Pay Now and <br> Get ₹<span class="percent">500</span> Discount</span></h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="#" class="btn btn-default btn-lg">Become a Member</a></p>
				</div>
			</div>
		</div>
	</div>
<%- include("partials/footer")  -%>
