<%- include("partials/header") -%>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(https://img2.goodfon.com/original/2560x1600/1/e5/crossfit-gym-podkhod.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Gallery.</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<div id="fh5co-gallery">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Gym gallery</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-portfolio-list">

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://lh3.googleusercontent.com/p/AF1QipNS9qBiH2v9K4M8cJUIbQcTcOqiwHwrxxoganvg=w600-h0); ">
							<a href="#">
								<div class="case-studies-summary">
									<span>Head</span>
									<h2>Prince Rajveer</h2>
								</div>
							</a>
						</li>
						<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://lh3.googleusercontent.com/yuSYLiA6kD7t2z3PsladKPIG1avRMSxBbkd_32CdYV-NanpEooDsGWpbF1IZdT8lFzxrVsH3YxW8US6_vA=w1080-h608-p-no-v0); ">
							<a href="#">
								<div class="case-studies-summary">
									<span>Co-Founder</span>
									<h2>Aman Singhania</h2>
								</div>
							</a>
						</li>


						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://scontent-sin6-2.cdninstagram.com/v/t51.2885-15/e35/106249828_271895430579560_4812280194890550534_n.jpg?_nc_ht=scontent-sin6-2.cdninstagram.com&_nc_cat=108&_nc_ohc=v8s4fzQIWCsAX90ox6w&oh=210199c11f192b4b25a7bacce0459498&oe=5F639F48); ">
							<a href="#">
								<div class="case-studies-summary">
									<span>Trainee</span>
									<h2>Viraj Mittal!</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/87661775_131100035104283_2372500910598607093_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=111&_nc_ohc=Kz2Uy3hDM_gAX-vMDKl&_nc_tp=18&oh=bfc5d9ba557df10593a9ed3b55d442cd&oe=5F62C3C7&ig_cache_key=MjI1MDYzNDc2MTUwNDMzMjIzMg%3D%3D.2); ">
							<a href="#">
								<div class="case-studies-summary">
									<span>happy Faces</span>
									<h2>Nitesh Chauhan</h2>
								</div>
							</a>
						</li>
						<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://content.jdmagicbox.com/comp/noida/q5/011pxx11.xx11.150716105651.m2q5/catalogue/body-engineers-noida-1KX9QBKIeWsbHHW.jpg); ">
							<a href="#">
								<div class="case-studies-summary">
									<span>New</span>
									<h2>Body Engineers</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/66835540_427654077835375_4545767933891774443_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=107&_nc_ohc=g0l0kD6Q9B0AX_IxD32&_nc_tp=18&oh=eacb19080d887a73d21ccd61eb085247&oe=5F64F627&ig_cache_key=MjA5NTk1NzA0NTI1MDMxNTQxMw%3D%3D.2); ">
							<a href="#">
								<div class="case-studies-summary">
									<span>Sukhbir Wallia</span>
									<h2>Militant</h2>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div id="fh5co-started" class="fh5co-bg" style="background-image: url(images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2>Fitness Classes this Summer <br> <span> Pay Now and <br> Get ₹<span class="percent">500</span> Discount</span></h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="#" class="btn btn-default btn-lg">Become a Member</a></p>
				</div>
			</div>
		</div>
	</div>




		<%- include("partials/footer")  -%>
