<%- include("partials/header")  -%>


    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(https://s.yimg.com/hd/cp-video-transcode/prod/2020-03/21/5e14db3769e6c56e85e0b624/5e762d4b02816b3706a6ffcf_o_U_v6.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1>Weight Gaining.</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="conatainer">
      <h1>soni jain</h1>
    </div>








<%- include("partials/footer")  -%>
